.navbar{
  font-family: 'Noto Serif Gurmukhi', sans-serif;
  transition: all 0.3s ease;
  position: sticky;
  padding: 0px;
}
.navbar a{
  font-size: 20px;
}

.navbar .nav-link {
  position: relative;
  overflow: hidden;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* thickness of the underline */
  background: currentColor; /* underline color same as text */
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link:focus::after {
  transform: translate3d(0, 0, 0);
}

.btn {
  padding: .45rem 1.5rem .35rem;
}
.gradient-custom {
  background: white;
}
.btn-outline-light {
  --mdb-btn-hover-bg: transparent;
  --mdb-btn-active-bg: transparent;
}
.dress-icon{
  width: 21px;
  height: 21px;
}
.nav-expand-menu-inactive{
  visibility: hidden;
}
.nav-expand-menu-active{
  width: 100%;
  background-color: white;
  visibility: visible;
}

.nav-card-item {
  width: 22rem;
  height: 30rem;
}

.nav-card-item img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.container a{
  height: 110px;
}

.dropdown-menu.dropdown-full {
  left: 0 !important;
  right: 0 !important;
  border: none;
  border-radius: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin: none;
}

.item-types-lists-container{
  list-style: none;
}
.navbar-collapse{
  /* ***Add styling to make a sidenavbar when screen is small*** */
}


